@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Nunito";
        src: url("/fonts/nunito/Nunito-ExtraLight.ttf");
    }
}

html {
    background-color: #071927;
    scroll-behavior: smooth;
    background: rgb(7, 25, 39);
}

body {
    background: rgb(7, 25, 39);
}
