@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: #071927;
    scroll-behavior: smooth;
    background: rgb(7, 25, 39);
}

body {
    background: rgb(7, 25, 39);
}
