@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Nunito-Bold";
        src: url("/fonts/nunito/Bold.ttf");
    }
    @font-face {
        font-family: "Nunito-X-light";
        src: url("/fonts/nunito/Nunito-ExtraLight.ttf");
    }
    @font-face {
        font-family: "Nunito-light";
        src: url("/fonts/nunito/Nunito-Light.ttf");
    }
    @font-face {
        font-family: "Nunito-regular";
        src: url("/fonts/nunito/Nunito-Regular.ttf");
    }
}

html {
    background-color: #071927;
    scroll-behavior: smooth;
    background: rgb(7, 25, 39);
}

body {
    background: rgb(7, 25, 39);
}
